
    body { background-color : #ededed;width : auto !important; }

    h1 { font-size : 1.5em; }

    p { padding : 0;margin : 0 0 30px 0; }

    vaadin-vertical-layout.page-container { background-color : #ededed; }

    vaadin-vertical-layout.layout-base { background-color : white;padding-top : 30px;padding-bottom : 30px; }

    vaadin-horizontal-layout.layout-header { border : 1px solid #dedede;box-sizing : border-box;margin-bottom : 30px;height : 400px;background-image: url("/img/img.jpg");background-size : 100% auto;background-position : 50% 70%;background-repeat : no-repeat;position : relative; }
    vaadin-horizontal-layout.layout-header h1 { color: white;position : absolute;left : 0;top : 0;right : 0;margin : 0;padding : 30px;background-color : rgba(0, 0, 0, 0.3);text-transform : uppercase; }

    vaadin-horizontal-layout.layout-middle {  }

    vaadin-vertical-layout.layout-middle-first { border : 1px solid #dedede;box-sizing : border-box;margin-bottom : 30px;padding : 20px; }

    vaadin-vertical-layout.layout-middle-second { border : 1px solid #dedede;box-sizing : border-box;padding : 20px; }

    vaadin-vertical-layout.layout-leftPanel { box-sizing : border-box; /* box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3); */ }
    vaadin-vertical-layout.layout-rightPanel { border : 1px solid #a3a3a3;margin-left : 30px;padding : 20px; }

    vaadin-horizontal-layout.layout-footer { border-top : 1px solid #828282;box-sizing : border-box;margin-top : 0;background-color : #ededed; /* background-image : linear-gradient(to bottom, #c9c9c9, #ededed); */ }
    vaadin-horizontal-layout.layout-footer .foot { width : 100%;max-width : 1200px;margin-left : auto;margin-right : auto;text-align : right;padding-top : 20px;padding-bottom : 30px; }

    vaadin-grid.left-menu { border : 1px solid #a3a3a3; }

    div.logo { border : 1px solid #dedede;box-sizing : border-box;margin-bottom : 30px;width : 100%;height : 150px;background-image: url("/img/img.jpg");background-size : 100% auto;background-position : 50% 70%;background-repeat : no-repeat;position : relative; }
    div.logo a { color: white;position : absolute;left : 0;top : 0;right : 0;bottom : 0; }
    div.logo a span { position : absolute;left : 0;top : 0;right : 0;margin : 0;padding : 15px 0 15px 0;text-align : center;background-color : rgba(0, 0, 0, 0.5);text-transform : uppercase;font-size : 1.5em;font-weight : bold; }

    div.nav { padding-bottom : 15px;margin-bottom : 15px;border-bottom : 1px solid #dedede;width : 100%; }
    div.nav a.active { color : black; }
    div.nav h1 { margin : 0; }
